#calculator{
    width: 450px;
    height: 550px;
    border-radius: 20px;
    background-color: #D9D9D9;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 27px;
    padding: 27px;
    
}
#visor{
    background-color: #EFEFEF;
    border-radius: 20px;
    font-size: 48px;
    padding: 10px;
    grid-column: span 4;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#erase-btn{
    background-color: #b7b7b7;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    grid-column: span 3;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.op-btn{
    background-color: #FFBB77;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-btn{
    background-color: #b7b7b7;
    border-radius: 20px;
    font-size: 18px;
    border: none;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
#zero-btn{
    background-color: #b7b7b7;
    border-radius: 20px;
    font-size: 18px;
    grid-column: span 2;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}